<app-header (pageSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-login *ngIf="getPageSelected() === 'login'"
      (pageSelected)="onNavigate($event)"></app-login>
      <app-signup *ngIf="getPageSelected() === 'signup'"
      (pageSelected)="onNavigate($event)"></app-signup>
      <app-users *ngIf="getPageSelected() === 'users'"></app-users>
      <app-planner *ngIf="getPageSelected() === 'planner'"></app-planner>
    </div>
  </div>
</div>