<div class="singupForm">
  <div class="row">
    <div class="col-md-8">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
          <div class="form-group">
            <label for="username"> Username</label>
            <input type="text" id="username" class="form-control" ngModel name="username" required>
          </div>
          <div class="form-group">
            <label for="password"> Password </label>
            <input type="text" id="password" class="form-control" ngModel name="password" required>
          </div>
          <div class="form-group">
            <label for="email"> Email </label>
            <input type="text" id="email" class="form-control" ngModel name="email" required>
          </div>
          <button class="btn btn-primary" type="submit"> 
          Sign Up!
          </button>
        </div>
      </form>
    </div>
  </div>
</div>